<html>
    <head>
        <title>components</title>
    </head>
    <body>
        <form action="add" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="tool name" name="toolname" required>
            <input type="text" placeholder="subject" name="subject" required>
            <input type="integer" placeholder="total quantity" name="totalquantity" required>
            <button>Add</button>
        </form>
        
        <a href="staffphysics">return</a>
    </body>
</html>