{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>student</title>
    <link rel="stylesheet" type="text/css" href="static/css/studentpage.css">
</head>
<body background="static\img\beaker-biology-chemical-1366942.jpg" style="background-size:cover;" >
    <a href="logout">logout</a>
    <h1 align="center" class="heading">Welcome {{name}}</h1>
    <div class="container">
       <a href="studentphysics"><div class="box">physics</div></a>
       <a href="studentchemistry"><div class="box">chemistry</div></a>
    </div>
   

   
</body>
</html>